@model PagedList.IPagedList<KobeTown.Models.Products>
@using PagedList.Mvc;
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.btn {
		font-size: 12px;
	}

	.card-footer {
		object-fit: cover;
		max-width: contain;
	}

	.card-title {
		padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
	}

	.card-text {
		padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>
<div class="container mt-5">
	<h2 class="text-center mb-4">Danh sách sản phẩm</h2>
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-lg-4 col-md-6 mb-4">
				<div class="card h-120">
					<img class="card-img-top" src="~/Content/@item.Category/@item.Image" alt="@item.Name" style="object-fit: contain; height: 500px;">
					<div class="card-body" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 5px; overflow: hidden; ">
						<h4 class="card-title"><a href="@Url.Action("Details", new { id = item.Id })">@item.Name</a></h4>
						<h5 class="card-text text-left">
							Mô tả: @item.Description <br />
							Giá: @item.Price
						</h5>
						<div class="card-footer text-left " id="cardfooter">
							<a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary btn-sm">Chi tiết</a>
							@Html.ActionLink("Mua ngay", "BuyNow", "ShoppingCart", new { id = item.Id }, new
						   {
							   @class = "btn btn-success btn-sm"
						   })
							@Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "ShoppingCart", new { id = item.Id }, new
{
	@class = "btn btn-info btn-sm"
})
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<div class="text-center">
		@Html.PagedListPager(Model, Page=> Url.Action("Index",new { Page }))
	</div>
